In [3]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect("all-the-news.db")

In [10]:
cur = conn.cursor()

In [12]:
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall()

In [13]:
res

[('longform',)]

In [14]:
table = pd.read_sql_query("SELECT * from longform", conn)

In [15]:
table

,id,title,author,date,content,year,month,publication,category,digital,section,url
0,1,Agent Cooper in Twin Peaks is the audience: on...,\nTasha Robinson\n,2017-05-31,And never more so than in Showtime’s new...,2017,5,Verge,Longform,1.0,None,None
1,2,"AI, the humanity!",\nSam Byford\n,2017-05-30,AlphaGo’s victory isn’t a defeat for hum...,2017,5,Verge,Longform,1.0,None,None
2,3,The Viral Machine,\nKaitlyn Tiffany\n,2017-05-25,Super Deluxe built a weird internet empi...,2017,5,Verge,Longform,1.0,None,None
3,4,How Anker is beating Apple and Samsung at thei...,\nNick Statt\n,2017-05-22,Steven Yang quit his job at Google in th...,2017,5,Verge,Longform,1.0,None,None
4,5,Tour Black Panther’s reimagined homeland with ...,\nKwame Opam\n,2017-05-15,Ahead of Black Panther’s 2018 theatrical...,2017,5,Verge,Longform,1.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
204130,271689,Opinion | The West’s Schism Over Liberal Value...,None,None,None,None,None,None,None,NaN,None,None
204131,271690,"Sammy Stewart, Pitcher Whose Life Took a Downt...",Richard Sandomir,2018-03-07,"Sammy Stewart, who set a record when he struck...",2018,3,New York Times,newspaper,0.0,None,None
204132,271692,California Today: Down to the Wire in Hollywoo...,Mike McPhate,2017-05-01,Good morning. (Want to get California Today by...,2017,5,New York Times,newspaper,0.0,None,None
204133,271697,An Export From Sweden: Art Treasures Collected...,None,None,None,None,None,None,None,NaN,None,None
204134,271698,Taking a Knee and Taking Down a Monument - Vid...,BRENT McDONALD,None,,None,None,None,None,NaN,None,None

In [17]:
table.groupby('publication').count()

,id,title,author,date,content,year,month,category,digital,section,url
publication,,,,,,,,,,,
Atlantic,7386,7386,6402,7385,7386,7385,7385,7386,7386,0,0
Breitbart,23791,23791,23791,23791,23791,23791,23791,23791,23791,0,0
Business Insider,8344,8344,5541,8344,8344,8344,8344,8344,8344,0,0
Buzzfeed News,10699,10699,10699,10699,10699,10699,10699,10699,10699,10699,10699
CNN,14288,14288,7048,12627,14288,12627,12627,14288,14288,0,0
Fox News,4384,4384,1127,4383,4384,4383,4383,4384,4384,4381,4381
Guardian,9920,9920,7726,9831,9920,9831,9831,9920,9920,9917,9920
Los Angeles Times,9036,9036,9026,9024,9036,9024,9024,9036,9036,31,31
NPR,12001,12001,11662,12001,12001,12001,12001,12001,12001,7788,12001
National Review,6258,6258,6258,6258,6258,6258,6258,0,6258,6258,6258
New Inquiry,3305,3305,3305,3305,3305,3305,3305,0,0,0,0
New York Post,18144,18144,17924,18144,17087,18144,18144,0,18144,18124,18124
New York Times,30257,30257,30257,30257,30257,30257,30257,30257,30257,0,0
Reuters,15055,15055,10719,15055,10719,15055,15055,15055,15055,0,15055
Talking Points Memo,5323,5323,1694,2622,5323,2622,2622,5323,5323,5323,5323
Verge,1225,1225,1225,1225,1225,1225,1225,1225,1225,0,0
Vox,4953,4953,4953,4953,4953,4953,4953,4953,4953,0,4953
Washington Post,12051,12051,11589,11628,11152,11628,11628,12051,12051,12051,12051

In [18]:
interesting_pubs = ['CNN', 'New York Times', 'Washington Post']

In [ ]:
for pub in interesting_pubs:
    df = table[table['publication']==interesting_pubs]
    df = df[['title','author','date']]
    df.to_csv(pub+'.csv', index=False)

In [20]:
df = table[table['publication']=='CNN']

In [22]:
df = df[['title','author','date']]

In [23]:
df.to_csv()

,title,author,date
41840,Istanbul attack: Dozens killed at nightclub,Euan McKirdy,2016-12-31
41841,"Alabama, Clemson back in national title game",Jill Martin,2016-12-31
41842,New year celebrations ring in 2017,Ray Sanchez,2016-12-31
41843,Trump says he has inside information on hacking,Kevin Liptak,2017-01-01
41844,3 dead in Texas plane crash collision,Tony Marco,2017-01-01
...,...,...,...
56123,Body painter makes models disappear - CNN Video,None,2015-08-05
56124,Hunter Sabrina Corgatelli slammed for giraffe ...,None,2015-08-04
56125,Kelly Osbourne's Trump slam backfires - CNN Video,None,2015-08-04
56126,Dental discovery stuns patient - CNN Video,None,2015-08-03
56127,Victims' families confront MH370 officials - C...,None,2015-08-06