In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('tweets.csv')

In [47]:
df = df[[ 'date_time','author', 'content', 'number_of_likes', 'number_of_shares']]

In [53]:
df = df.rename(columns={'date_time':'Date'})

In [54]:
df

,Date,author,content,number_of_likes,number_of_shares
0,12/01/2017 19:52,katyperry,Is history repeating itself...?#DONTNORMALIZEH...,7900,3472
1,11/01/2017 08:38,katyperry,@barackobama Thank you for your incredible gra...,3689,1380
2,11/01/2017 02:52,katyperry,Life goals. https://t.co/XIn1qKMKQl,10341,2387
3,11/01/2017 02:44,katyperry,Me right now üôèüèª https://t.co/gW55C1wrwd,10774,2458
4,10/01/2017 05:22,katyperry,SISTERS ARE DOIN' IT FOR THEMSELVES! üôåüèªüí™üèª‚ù§Ô∏è ht...,17620,4655
...,...,...,...,...,...
52537,06/01/2015 23:10,ddlovato,Life couldn't be better right now. üòä,32799,23796
52538,06/01/2015 02:17,ddlovato,First Monday back in action. I'd say 21.6 mile...,21709,12511
52539,05/01/2015 03:42,ddlovato,"Crime shows, buddy, snuggles = the perfect Sun...",25269,15583
52540,05/01/2015 00:06,ddlovato,‚ùÑÔ∏è http://t.co/sHCFdPpGPa,15985,10456
52541,05/01/2015 00:02,ddlovato,‚ù§Ô∏è‚ùÑÔ∏è‚úàÔ∏è http://t.co/ixmB5lv17Z,16193,10822

In [55]:
df['Date'] = pd.to_datetime(df['Date'])

In [62]:
df = df.sort_values(by='Date')
df = df.reset_index(drop=True)

In [63]:
df

,Date,author,content,number_of_likes,number_of_shares
0,2009-12-18 07:36:00,Twitter,Twitter's DNS records were temporarily comprom...,73,504
1,2009-12-18 21:59:00,Twitter,Update on the DNS issue of last night: http://...,55,107
2,2009-12-22 18:39:00,Twitter,Look! A shiny new blog design. http://blog.twi...,53,72
3,2009-12-23 17:29:00,Twitter,"If you use a Palm Pre, here are some reviews o...",40,41
4,2009-12-23 22:38:00,Twitter,Twitter acquires GeoAPI‚Äîlocation awareness to ...,67,104
...,...,...,...,...,...
52537,2017-12-01 23:07:00,YouTube,@GloZell @kandeejohnson @Awestruck üò± It‚Äôs a wh...,80,6
52538,2017-12-01 23:08:00,YouTube,@hankgreen We get that a lot too.,330,24
52539,2017-12-01 23:09:00,YouTube,"@cjsocool1 In the end, that‚Äôs what really matt...",89,10
52540,2017-12-01 23:30:00,YouTube,Wubba lubba dub dub! \r\n\r\nRick and Morty 8-...,1473,349
52541,2017-12-01 23:30:00,instagram,One man‚Äôs trash = another man‚Äôs treasure. (Thi...,747,180

In [64]:
influencers = data_twitter.author.unique()

In [65]:
for influencer in influencers:
    frame = df[df['author']==influencer]
    frame.to_csv(influencer+'.csv', index=False)